@media only screen and (device-width: 1440px) {
    .top__nav {
        padding: 30px 0px;
    }
    .d7 {
        position:absolute;
        top: 55px;
    }
    .top__nav ul {
        top: -53px;
        left: 14%;
    }
    form {
        position: relative;
        top: 0px;
    }
    .page-footer-logo {
        position: relative;
        right: -28px;
    }
    
}
@media only screen and (min-width: 1920px) {
    .top__nav {
        padding: 30px 0px;
    }
    .d7 {
        position:absolute;
        top:57px;
    }
    .top__nav ul {
        top:-52px;
        left: 21%;
    }
    form {
        position: relative;
        top: 0px;
    }
    .social-icons {
        padding-left: 70%;
    }

}
 @media only screen and (max-device-width: 480px) {
    .textcolor {
        display: none;
    }
    .maintext {
        position: relative;
        right: 10%;
        top: 15px;
        font-size: 25px;
    }
    form {
        position: relative;
        top: 13px;
        right: -10%;
    }
    .maintext::after {
        display: none;
    }
    .mobvers[hidden] {
        display: block;
    }
    .d7 {
        display: none;
    }
    .d7mobile[hidden] {
        display: block;
    }
    .d7mobile input {
        width: 286px;
    }
    .probel[hidden] {
        display: block;
    }
    .rightmenu {
        position: absolute;
        top: 170%;
        right: 40%;
    }
    .post-item-wrap {
        position: relative;
        right: 0%;
    }
 }
@media only screen and (device-width: 768px) {
    .textcolor {
        display: none;
    }
    .maintext {
        position: relative;
        right: 7%;
        top: -40px;;
        font-size: 25px;
    }
    form {
        position: relative;
        top: 424px;
        right: -10%;
    }
    .maintext::after {
        display: none;
    }
    .mobvers[hidden] {
        display: block;
    }
    .d7 {
        display: none;
    }
    .d7mobile[hidden] {
        display: block;
    }
    .d7mobile input {
        width: 286px;
    }
    .probel[hidden] {
        display: block;
    }
    .post-item-wrap {
        position: relative;
        right: 0%;
    }
    .page-footer-logo {
        right: -137px;
    }
    .social-icons {
        padding-left: 5%;
    }
    .slideshow-container {
        float: none;
        position: relative;
        top: 0px;
    }
    .adap-img {
        width: 515px;
    }
    .adap-img-palata {
        position: relative;
        left: 30%;
    }
    .rightmenu {
        display: none;
        
    }
    .rightmenumob[hidden] {
        display: block;
        position: absolute;
        top: 61%;
        right: 19px;
    }
 } 
 @media only screen and (device-width: 1024px) {
    .textcolor {
        display: none;
    }
    .maintext {
        position: relative;
        right: 7%;
        top: 3px;
        font-size: 26px;
    }
    form {
        position: relative;
        top: 13px;
        right: -10%;
    }
    .maintext::after {
        display: none;
    }
    .mobvers[hidden] {
        display: block;
    }
    .d7 {
        display: none;
    }
    .d7mobile[hidden] {
        display: block;
    }
    .d7mobile input {
        width: 286px;
    }
    .probel[hidden] {
        display: block;
    }

 }
@media screen and (min-width: 320px) {
    html,
    body {
      margin: 0;
      overflow-x: hidden;
    }
}
 
@media screen and (max-width: 320px) {
    html,
    body {
      margin: 0;
      overflow-x: hidden;
    }
    .nav {
      width: 100%;
      box-shadow: none
    }
}
@media only screen and (device-width: 2560px)
{
    .top__nav ul {
        left: 28%
    }
}
@media (max-width: 767px) {
    .meanous-andscoev,
    .ico-wrap {
    float: none;
    text-align: center;
    }
    .ico-wrap {
    margin: 0 auto 15px auto;
    }
  }
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
@media only screen and (device-width: 375px) {
    .rightmenu {
    position: absolute;
    top: 191%;
    right: 40%;
    }
}
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }